{% extends "layout.html" %}

{% block heading %}
  Search Results
{% endblock %}

{% block body %}

<table class="table table-hover">
  <thead class="thead-light">
    <th scope="col" align="center">ZIP Code</th>
    <th scope="col" align="center">City</th>
    <th scope="col" align="center">State</th>
    <th scope="col" align="center">Information</th>
  </thead>
  <tbody>
    {% for result in results %}
    <tr>
      <td align="center">{{ result.zipcode }}</td>
      <td align="center">{{ result.city }}</td>
      <td align="center">{{ result.state }}</td>
      <td align="center"><a href="{{ url_for('location', location_id = result.id) }}" class="btn btn-primary" role="button">View Details</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div id = "buttons">
  <a href="{{ url_for('usermain') }}" class="btn btn-secondary btn-sm" role ="button">Main Page</a>
  <a class="btn btn-secondary btn-sm" href="{{ url_for('index') }}" role="button">Log Out</a>
</div>
{% endblock %}
