{% extends "layout.html" %}

{% block heading %}
  Search Results: {{ location.city }}, {{ location.state }} {{ location.zipcode }}
{% endblock %}

{% block body %}

  <ul>
    <li><b>Latitude:</b> {{ location.latitude }}</li>
    <li><b>Longitude:</b> {{ location.longitude }} </li>
    <li><b>Population:</b> {{ location.population }} </li>
    <li><b>Number of Checkins:</b> {{ count }}</li>
  </ul>

  <h4>Comments from users who checked in:</h4>

  <table class="table table-striped">
    <tbody>
        {% for checkin in checkins %}
        <tr>
          {% if checkin.comment != "" %}
            <td>{{ checkin.comment }}</td>
        </tr>
          {% endif %}
          {% else %}
        <tr>
            <td>No one has checked into this location.</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

  <div class="form">
    <h4>Check in and let others know you were here!</h4>
    <form action = "{{ url_for('checkin_submission') }}" method="post">
      <b>Leave a comment</b>(Optional): <input name="comment" type="text" placeholder=""> <br />
      <button>Check In</button>
    </form>
  </div>


<div>
  <a href="{{ url_for('usermain') }}" class="btn btn-default">Back to Homepage</a>
  <a href="{{ url_for('index') }}" class="btn btn-default">Log Out</a>
</div>

{% endblock %}
