{% extends "layout.html" %}

{% block heading %}
You are in: <font color=#2E8B57>{{ location.city.title() }}, {{ location.state }} {{ location.zipcode }}</font>
{% endblock %}

{% block body %}
  <table class = "center table table-striped">
    <tr>
      <td align="center"><b>Latitude</b></td>
      <td align="center">{{ location.latitude }}</td>
    </tr>
    <tr>
      <td align="center"><b>Longitude</b></td>
      <td align="center">{{ location.longitude }}</td>
    </tr>
    <tr>
      <td align="center"><b>Population</b></td>
      <td align="center">{{ location.population }}</td>
    </tr>
    <tr>
      <td align="center"><b>Number of Check-ins</b></td>
      <td align="center">{{ count }}</td>
    </tr>
    <tr>
      <td align="center"><b>Weather Summary</b></td>
      <td align="center">{{ weather["currently"]["summary"] }}</td>
    </tr>
    <tr>
      <td align="center"><b>Temperature</b></td>
      <td align="center">{{ weather["currently"]["temperature"] }}°F</td>
    </tr>
    <tr>
      <td align="center"><b>Dew Point</b></td>
      <td align="center">{{ weather["currently"]["dewPoint"] }}</td>
    </tr>
    <tr>
      <td align="center"><b>Humidity</b></td>
      <td align="center"> {{ weather["currently"]["humidity"]*100 }}%</td>
    </tr>
    <tr>
      <td align="center"><b>Time of Weather Report</b></td>
      <td align="center">{{ time }}</td>
    </tr>
  </table>
  <br /><br /><br />

  <table class="table table-sm">
    <thead class="thead-light" style = "font-size:30px">
      <tr>
        <th scope="col">Comments</th>
    </thead>
    <tbody>
        {% for checkin in checkins %}
        <tr>
          {% if checkin.comment != "" %}
            <td>{{ checkin.comment }}</td>
        </tr>
          {% endif %}
          {% else %}
        <tr>
            <td>No one has left comments in this location.</td>
        </tr>
        {% endfor %}
    </tbody>
  </table> </br></br>
<div class="checkin">
  <div class="form">
    <h2>Check into this location!</h2> </br>
    <form action = "{{ url_for('checkin_submission') }}" method="post">
      <input name="comment" type="text" placeholder="Feel free to leave any comments." size = "50"> <br /><br />
      <button type="submit" class="btn btn-primary">Check In</button>
    </form>
  </div>
</div>
<br />

<div id = "buttons">
  <a href="{{ url_for('usermain') }}" class="btn btn-secondary btn-sm" role ="button">Main Page</a>
  <a class="btn btn-secondary btn-sm" href="{{ url_for('index') }}" role="button">Log Out</a>
</div>

{% endblock %}
