{% extends "layout.html" %}

{% block heading %}
  Search Results
{% endblock %}

{% block body %}

<table class="table table-striped">
    <thead>
        <th scope="col">ZIP Code</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
    </thead>
    <tbody>
    {% for result in results %}
        <tr>
            <th scope="row">{{ result.zipcode }}</th>
            <td>{{ result.city }}</td>
            <td>{{ result.state }}</td>
            <td><a href="{{ url_for('location', location_id = result.id) }}" class="btn btn-info" role="button">Click for more info</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<div>
  <a href="{{ url_for('index') }}" class="btn btn-default">Log Out</a>
</div>
{% endblock %}
