{% extends "layout.html" %}

{% block heading %}
  Log In
{% endblock %}

{% block body %}
<div class="form">
    <form action = "{{ url_for('usermain') }}" method="post">
      <input name="id" type="text" placeholder="ID"><br />
      <input name="password" type="password" placeholder="password"><br /><br />
      <button type="submit" class="btn btn-primary">Log In</button><br />
      <a href="{{ url_for('index') }}" class="btn btn-default">Back to Homepage</a>
    </form>
</div>
{% endblock %}
