{% extends "layout.html" %}

{% block heading %}
  Welcome, <font color=#2E8B57><b>{{ id }}</b></font>!
{% endblock %}

{% block body %}
<div>
  <p>
    To check the weather in your location, search your location below.
  </p>
</div>
<div class="form">
    <form action = "{{ url_for('locations') }}" method="post">
      <input name="search" type="text" placeholder="Type ZIP code, name of city or the town." size = "50"><br /><br />
      <button type="submit" class="btn btn-primary btn-lg">Search</button><br /><br />
    </form>
</div>

<div id = "buttons">
  <a class="btn btn-secondary btn-sm" href="{{ url_for('index') }}" role="button">Log Out</a>
</div>
{% endblock %}
